:root {
	--heading-color: rgb(0, 0, 0);
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}

header {
	background: linear-gradient(rgb(71, 223, 202), rgb(115, 166, 224));
	height: 120px;
	position: fixed;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	z-index: 10;
}

/******NAV BAR STYLING******/
.nav-bar-headings {
	list-style-type: none;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
	padding: 30px;
}

.nav-bar-headings a:hover {
	color: orange !important;
}

.nav-bar-headings:hover {
	transform: scale(1.5);
}

/******NAV BAR STYLING******/

a {
	/*this is styling all the text*/
	text-decoration: none;
	color: var(--heading-color);
	font-size: 2rem;
	list-style-type: none;
	padding-right: 30px;
	font-weight: bold;
}

#welcome-section {
	height: 100vh;
	background: linear-gradient(
		rgb(115, 166, 224),
		rgb(228, 220, 220),
		rgb(214, 161, 100)
	);
	display: flex;
	z-index: -1;
}

#welcome-section h1 {
	color: var(--heading-color);
	position: absolute;
	right: 50%;
	bottom: 48%;
	font-size: 4rem;
	transform: translate(50%, 0);
}

#welcome-section h4 {
	color: var(--heading-color);
	position: absolute;
	font-size: 2rem;
	right: 50%;
	bottom: 45%;
	transform: translate(50%, 0);
}

#projects {
	height: 50vh;
}

#projects h3 {
	color: black;
	position: absolute;
	right: 50%;
	font-size: 2rem;
	transform: translate(50%, -40%);
}

.project-container {
	width: 100%vw;
	height: 50vh;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(rgb(214, 161, 100), rgb(184, 77, 58));
}

.project-container a:hover {
	color: white;
}

.child-container {
	height: 40vh;
	width: 500px;
	display: flex;
	margin: 80px 40px 0px 50px;
}

.child-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.child-container a {
	color: var(--heading-color);
	text-align: center;
}

#profile-link {
	font-size: inherit;
	font-style: inherit;
}

#contact {
	height: 250px;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(184, 77, 58), rgb(95, 136, 211));
	position: relative;
}

.final-section {
	position: relative;
}

.email-address {
	font-size: 1.5rem;
	margin-left: 10px;
	border: none;
}

.submit {
	display: inline;
	padding-top: 3px;
	font-size: 1.5rem;
}
.email-address,
.submit {
	height: 40px;
}

.email-address::placeholder,
.submit {
	color: var(--heading-color);
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

#contact a:hover {
	color: white;
}

.footer {
	height: 150px;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid;
	background: linear-gradient(rgb(95, 136, 211), rgb(184, 77, 58));
	font-weight: bold;
}

/**********ICON STYLING************/
.icon-container {
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
}

.facebook {
	color: #4267b2;
}

.instagram {
	color: #d13650;
}

.linkedin {
	color: #0072b1;
}

.call-me {
	color: rgb(216, 135, 30);
}

.phone-number {
	display: none;
}

#call-me:hover .phone-number {
	display: inline-block;
}

.fa-brands {
	transition: transform 0.3s ease-in-out;
}

.fa-solid:hover {
	transform: scale(3);
}

.fa-brands:hover {
	transform: scale(3);
}
/**********ICON STYLING************/

/**********Testing*****************/
.test-scrolling {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.test-container {
	width: 700px;
	height: 700px;
	border: solid 1px;
	overflow-x: scroll;
	transform: rotate(90deg);
	display: flex;
	scroll-snap-type: x mandatory;
	transform: rotate(360deg);
	
}

.scroll-projects1 {
	min-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	background-color: pink;
}

.scroll-projects1 img {
	width: 600px;
	padding-left: 25px;
}

.scroll-projects2 {
	min-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	background-color: lightblue;
}

.scroll-projects2 img {
	width: 600px;
	padding-left: 25px;
}

.scroll-projects3 {
	min-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	background-color: orange;
}

.scroll-projects3 img {
	width: 600px;
	padding-left: 25px;
}

.scroll-projects4 {
	min-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	background-color: lightgreen;
}

.scroll-projects4 img {
	width: 600px;
	padding-left: 25px;

#calc-id {
	width: 100%;
	height: 100%;
}

@media (max-width: 1200px) {
	#welcome-section .welcome-heading {
		color: red;
	}
	#welcome-section h4 {
		color: rgb(255, 145, 0);
	}
}
