html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid 1px;
}

#navbar ul {
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
    
#navbar ul a {
    text-decoration: none;
    color:grey;
    
}

#navbar header {
    color:black;
    font-size: 30px;
    padding-left: 20px;
    padding-top:20px;
    
}

#navbar ul li {
    color: black;
    font-size: 25px;
    padding:10px 0px 10px 20px;
    border-top: solid 1px;
    list-style: none;
}

.main-section {
    margin-left: 350px;
    font-size: 25px;
    padding: 5px;
    
}

#Introduction p {
    font-size: 14px;
}

#Introduction ul li{
    font-size: 14px;
}